

h1{
    color: white;
}

h5 {
    color: black;
    font-size: 1rem;
    margin-bottom: 0;
}

h6 {
    color: black;
    font-size: 0.75rem;
    margin-bottom: 0;
}

p{
    margin-bottom: 0;
    font-size: 0.75rem;
    color: white;
}